[submodule "glazewm"]
	path = glazewm
	url = https://github.com/samwdp/glazewm.git
[submodule "Powershell-Profile"]
	path = Powershell-Profile
	url = https://github.com/samwdp/Powershell-Profile.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/samwdp/nvim.git
[submodule "emacs"]
	path = emacs
	url = https://github.com/samwdp/.emacs.d
